---
layout: page
title: Members
comments: false
---

<div>


    <h2>Founders</h2>
    {% assign ryan = site.authors['ryan'] %}
    {% assign eltjo = site.authors['eltjo'] %}
    <div style="width: 49%; margin-bottom: 20px; text-align: center; float: left; display: inline" >
        <diV>
            <a href="{{site.baseurl}}/members/{{ryan.page}}"><img style="height: 150px; box-shadow: none" src="{{ site.baseurl }}/{{ ryan.picture }}" alt="{{ ryan.display_name }}"></a>
        </diV>
        <div>
            <b>{{ ryan.display_name }}</b>
        </div>
        <div>
            {{ ryan.title }} at {{ ryan.company }}
        </div>
    </div>

    <div style="width: 49%; margin-bottom: 20px; text-align: center; float: left; display: inline" >
        <diV>
            <a href="{{site.baseurl}}/members/{{eltjo.page}}"><img style="height: 150px; box-shadow: none" src="{{ site.baseurl }}/{{ eltjo.picture }}" alt="{{ eltjo.display_name }}"></a>
        </diV>
        <div>
            <b>{{ eltjo.display_name }}</b>
        </div>
        <div>
            {{ eltjo.title }} at {{ eltjo.company }}
        </div>
    </div>

    <h2>Members</h2>
    {% for author in site.authors %}
    {% assign name = author[0] %}

    {% assign info = site.authors[name] %}
    {% if info.active == true and info.founder != true %}
        <div style="width: 49%; margin-bottom: 20px; text-align: center; float: left; display: inline" >
            <diV>
               <a href="{{site.baseurl}}/members/{{info.page}}"><img style="height: 150px; box-shadow: none" src="{{ site.baseurl }}/{{ info.picture }}" alt="{{ info.display_name }}"></a>
            </diV>
            <div>
                <b>{{ info.display_name }}</b>
            </div>
            <div>
                {{ info.title }} at {{ info.company }}
            </div>
        </div>
    {% endif %}
    {% endfor %}
</div>