---
layout: page
title: Sponsors
comments: false
---

<div class="sponsor-container">

    {% for sponsor in site.sponsors %}

    {% assign name = sponsor[0] %}
    {% assign info = site.sponsors[name] %}

    {% assign today_date = 'now' | date: "%y %m %d" %}
    {% assign contract_date =  info.date | date: "%y %m %d" %}  


    {% if contract_date >= today_date %}
    <div class="sponsor-info-box">

        <div>
            <a style="box-shadow: none;" href="{{site.baseurl}}/sponsors/{{info.page}}">
                <img class="sponsor-box-logo" src="{{ site.baseurl }}/{{ info.logo }}" alt="{{ info.name }}">
            </a>
        </div>
        <div>
            <b>{{ info.name }}</b>
        </div>   
    </div>
    {% endif %} 

    {% endfor %}

</div>