<ul class="nav__list list-reset">
  <li class="nav__item">
    <a href="{{ site.baseurl }}/about" class="nav__link">About</a>
  </li>

  <li class="nav__item">
    <a href="{{ site.baseurl }}/development" class="nav__link">Development</a>
  </li>

  <li class="nav__item">
    <a href="{{ site.baseurl }}/members" class="nav__link">Members</a>
  </li>

  <li class="nav__item">
    <a href="{{ site.baseurl }}/sponsors" class="nav__link">Sponsors</a>
  </li>

  <!-- <li class="nav__list list-reset">
    <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">About</a>
    <div class="dropdown-menu" aria-labelledby="dropdown01">
    <a class="nav__link" href="{{ site.baseurl }}/about">About {{site.title}}</a>
    <a class="nav__link" href="{{ site.baseurl }}/insight-in-the-testing-methodology-2020">Testing methodology</a>
    <a class="nav__link" href="{{ site.baseurl }}/architecture-and-hardware-setup-overview-2020">Platform {{site.title}}</a>
    <a class="nav__link" href="{{ site.baseurl }}/nutanix-lab-architecture-and-hardware-setup-overview-2019">Platform Nutanix</a>
    </div> -->
</li>
  <!-- {% for page in site.pages %}
    {% unless page.name == 'tags.html' or page.name == '404.html' %}
      {% if page.title %}
      <li class="nav__item">
        <a href="{{ page.url | prepend: site.baseurl }}" class="nav__link">{{ page.title }}</a>
      </li>
      {% endif %}
    {% endunless %}
  {% endfor %} -->
</ul>