<div class="col col-4 col-d-6 col-t-12">
  <div class="widget widget-beer">

    <div class="widget__head">
      <h3 class="widget__title">Buy us a beer</h3>
    </div>
    <p>GO-EUC is a full community effort that is based on a non-profit foundation. All contributions are based on a voluntary basis to share insights with the community.</p>
    <br>
    <p>Please consider helping this community by buying a beer <i class="ion ion-md-beer"></i>.</p>

    <a href="{{ site.paypal }}" target="_blank">
        <button type="button" class="btn btn-primary" style="width: 100%;"><b>Donate</b></button>
    </a>
  </div>
</div>